/* latin */
/* http://fonts.googleapis.com/css?family=Qwigley */
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/qwigley/1cXzaU3UGJb5tGoCiVtmig.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #e7e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  /* Google Fonts: https://fonts.google.com/ */
  font-family: 'Qwigley', Helvetica, Sans-serif;  color: #fff;
	color: #333;
}

.App-header img {
  pointer-events: none;
  width: 450px;
  height: 600px;
}

@media screen and (max-width: 800px) {
  .App-header img {
    width: 350px;
    height: 440px;
  }
}

@media screen and (max-width: 600px) {
  .App-header img {
    width: 250px;
    height: 340px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
  padding: 0;
  margin-top: 0px;
  
}

p {
  margin-top: 0px;
  padding: 0;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: calc(2px + 2vmin);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p-top {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
}
